*{
    margin: 0;
    padding: 0;
    background-color: goldenrod;
}
@font-face {
    font-family: font2;
    src: url("fonts/ofont.ru_Arco.ttf");
}
@font-face {
    font-family: font1;
    src: url(fonts/Teko-VariableFont_wght.ttf);
}
.san{
    width: 300px;
    height: 300px;
}
.sandiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.s{
    font-size: 150px;
    text-align: center;
    color: black;
    font-family: font1;
}
.names{
    font-size: 30px;
    text-align: center;
    color: black;
    font-family: font2;
    margin-top: 60px;
}
